#blog{
    padding: 8rem 0;
}

.blog-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.blog-card-img{
    border-radius: var(--border-radius-1);
    overflow: hidden;
    position: relative;
}

.blog-card-img img{
    transition: var(--transition);
}

.blog-card{
    position: relative;
}

.blog-card-dtl{
    padding: 1.5rem;
    text-align: center;
    position: relative;
}

.blog-card-dtl h5{
    color: var(--color-dark);
    font-size: 1rem;
    font-weight: 500;
}
.blog-card-dtl h4{
    margin: 0.5rem 0;
    font-weight: 600;
    text-transform: capitalize;
}

.blog-card-dtl p{
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0 0.5rem;
    font-size: 0.9rem;
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
}

.blog-card-link{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0;
    transition: var(--transition);
}

.blog-card-img:hover .blog-card-link{
    opacity: 1;
}

.blog-card-img:hover img{
    transform: scale(1.08);
}

@media screen and (max-width: 1024px){
    .blog-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px){
    .blog-container{
        grid-template-columns: 1fr;
    }
}